<div id="div-login-panel">
    <h1>SpeakSoul</h1>

    <h2>{{showFormLogin? "Login" : "Change password"}}</h2>
    <mat-card class="bg-card" *ngIf="showFormLogin">
        <app-login-form *ngIf="showFormLogin"></app-login-form>
    </mat-card>
    <mat-card class="bg-card" *ngIf="!showFormLogin">
        <app-login-reset-form *ngIf="!showFormLogin"></app-login-reset-form>
    </mat-card>
    <button mat-button color="accent" type="button" (click)="showFormLogin = !showFormLogin" id="form-change-password-button">{{showFormLogin? "Change password" : "Back to login"}}</button>
  <button mat-button color="accent" type="button" (click)="goToRegister()" id="form-create-account-button">Create account</button>
  <button mat-button color="accent" type="button" (click)="goToTermsAndConditions()" id="form-terms-and-conditions">Privacy statement</button>
</div>
