.recordings{
  display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
  text-align: center;
}

.wrapper-to-wrapper{
  overflow-y: auto;
  max-height: 700px;
  width: 520px;
}


.statistics-prediction{
  width: 640px;
  height: 480px;
}

.statistics-wrapper{
  width: 700px;
  height: 400px;
}

.statistics-chart{
  pointer-events: none;
}


@media screen and ( max-width: 500px ) {
  .wrapper-to-wrapper {
    width: 91vw !important;
    max-height: 80vh!important;
  }

  .statistics-prediction{
    width: 320px;
    height: 240px;
  }
  .statistics-wrapper{
    width: 320px;
  }

  .statistics-chart {
    width: 100%;
    pointer-events: none;
    max-width: 320px;
  }

}

@media screen and ( max-width: 350px ) {
  .wrapper-to-wrapper {
    width: 270px !important;
    max-height: 80vh !important;
  }
}
