<div class="container">
  <h1>Privacy Statement</h1>
  <p>This statement describes the privacy practices for https://speak-soul.web.app. SpeakSoul is committed to protecting the privacy of our valued customers.</p>
  <p>SpeakSoul privacy policy notifies you of the information we collect from you during your use of our site, how that information is used, the organizations and people with whom we may share that information, and what choices are available to you in regards to the collection, use, and distribution of the information. This policy also details how you can change, or correct inaccuracies in, your personal information.</p>
  <p>SpeakSoul Inc. is the sole owner of the information collected on this site. We will not sell, share, or rent this information to others.</p>
  <p>If you feel that we are not abiding by our posted privacy policy, you should contact us.</p>

  <h2>Information Collected During Registration Process</h2>
  <p>By registering with SpeakSoul, you receive enhanced access to our website, including recording audio and using machine learning models to predict emotions from them. Users new to SpeakSoul must first complete the registration form. During registration, users are required to give their contact information (such as name, gender, and email address). We will not sell, share, or rent this information to others.</p>

  <h2>Links to this website</h2>
  <p>You may not create a link to any page of this website without our prior written consent. If you do create a link to a page of this website, you do so at your own risk and the exclusions and limitations set out above will apply to your use of this website by linking to it.</p>

  <h2>Information Collected When Recording Audio</h2>
  <p>When audio is recorded and used on the machine learning models, the user must press the send audio recording button, providing the emotion it believes it has expressed. This information, mainly the audio recording, the actual emotion, and the predicted emotion, are stored such that the user can visualize it later. By storing the information, the user will have access to a history of how it utilized the application. We will use this information for further research in the area. We will not sell, share, or rent this information to others.</p>

  <h2>Cookies</h2>
  <p>A cookie is a piece of data stored on the user's hard drive containing information about the user. The usage of a cookie is linked to the user’s email address, which is encrypted in a token while on our site. Once the user closes their browser, the cookie simply terminates. If a user's web browser is not set up to accept cookies, they will not be able to use the restricted portion of our site. We will not sell, share, or rent this information to others.</p>

  <p>If you have any questions about the security of our website, please Contact Us.</p>

  <h2>Your Consent/Notification of Changes</h2>
  <p>By using SpeakSoul, you consent to our collection and use of your information as described in this Privacy Policy. If there are any changes in SpeakSoul's privacy practices, we will update you via email.</p>

  <button mat-button color="accent" type="button" (click)="goToLogin()" id="form-button">{{"Back to login"}}</button>
  <button mat-button color="accent" type="button" (click)="goToRegister()" id="form-button-register">{{"Back to create account"}}</button>

</div>

